@use "./pages/welcome";
@use "./pages/main";
@use "./pages/detailds";
@use "./components/header";
@use "./components/card";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    *::selection{
        background-color: lightcoral;
    }
    
    a{
        text-decoration: none;
    }
}