header {
    height: 80px;
    width: 100%;
    background-color: #223042;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 11111;


    .navbar_icon {
        display: none;
    }

    .navbar {
        display: none;
    }

    nav {
        height: 100%;
        display: flex;

        .header_ul {
            display: flex;
            list-style: none;
            margin-left: 30px;

            .header_li {
                color: #EED5C3;
                margin: 30px;
                font-size: 1.3em;

                .header_li:hover {
                    cursor: pointer;
                }

            }

        }

        .signOut {
            background-color: #223042;
            margin: 15px;
            width: 100px;
            height: 40px;
            border-radius: 50px;
            padding: 5px;
            color: #EED5C3;
            font-size: 1.1em;
            border: solid 1px red;
            position: absolute;
            right: 100px;
            transition: 0.3s;
        }

        .signOut:hover{
            cursor: pointer;
            border: solid 1px #EED5C3;
            color: red;
        }
    }
}


@media (max-width: 920px) {

    header {

        .navbar_icon {
            display: block;
            color: #EED5C3;
            width: 50px;
            height: 30px;
            position: absolute;
            top: 15px;
            right: 0;

        }

        .navbar {
            display: block;
            width: 100%;
            height: 20vh;
            position: absolute;
            top: 80px;
            background-color: #223042;
            animation: anime 0.3s ease-in-out;
            align-items: center;
            justify-content: center;
            text-align: center;

            @keyframes anime {
                0% {
                    opacity: 0%;
                }

                100% {
                    opacity: 100%;
                }
            }

            .header_ul {
                margin-top: 10px;

                .header_li {
                    margin-top: 20px;
                    color: #EED5C3;
                    font-size: 1.2em;
                }
            }

            .signOut {
                background-color: #223042;
                margin: 25px 15px;
                width: 100px;
                height: 40px;
                border-radius: 50px;
                padding: 5px;
                color: #EED5C3;
                font-size: 1.1em;
                border: solid 1px red;
            }


        }

        nav {
            display: none;
        }
    }
}